<!DOCTYPE html>
<html>
<head>
  <title>JsToDoApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
   <div class = "nav">
     <ul>
      <li><%= link_to("Lists", to_do_lists_path) %></li>
      <li><%= link_to("Items", to_do_items_path) %></li>
     </ul>
   </diu>


  <%= yield %>


  </div>
</body>
</html>
